body {
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: lightgrey;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.login-block {
  border-radius: 3px;
  background: #2b2b2b;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  padding: 20px;
  width: 400px;
  height: 300px;
}

.form-item {
  margin: 15px 10px;
}

.form-field {
  background: #373737;
  border: 1px solid transparent;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  color: inherit;
  transition: border-color .2s;
}

.form-field:focus {
  border-color: #005454;
}

.form-button {
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px 20px;
  background: #373737;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color .2s;
}

.form-button:hover {
  background: #464646;
}
