<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <title>Site</title>
</head>
<body>
<div class="container">

    <div class="login-block">
        <?php if (!empty($message)) echo "<div>$message</div>" ?>
        <form action="/login" method="post" class="form">
            <div class="form-item"><label for="id" class="form-label">Логин:</label></div>
            <div class="form-item"><input type="text" required autocomplete="off" class="form-field" id="login" name="username" placeholder="Логин"></div>
            <div class="form-item"><label for="password" class="form-label">Пароль:</label></div>
            <div class="form-item"><input type="password" required class="form-field" id="password" name="password" placeholder="Пароль"></div>
            <div class="form-item"><input type="submit" class="form-button" value="Войти"></div>
        </form>
    </div>

</div>
</body>
</html>
